/* Estilos globais */
body {
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: #1A1E23;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header Hero Styles */
.header-hero {
    background-color: #1A1E23;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #292F36;
}

.nav-hero {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    height: 70px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #98FAEC;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #43454D;
}

.search-bar button:hover {
    color: #12F7D6;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.social-links li a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.social-links li a img {
    height: 20px;
    margin-right: 8px;
}

.social-links li a:hover {
    color: #98FAEC;
}

/* Seção Hero */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A1E23;
    padding: 10px 20px;
    color: #FFFFFF;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.hero-title {
    text-align: center;
}

.hero-title h2 {
    font-size: 80px;
    color: #98FAEC;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 20px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
    margin-top: -10px;
}

.profile-card {
    background-color: #292F36;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.profile-image img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.contact-info li {
    margin-bottom: 10px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
}

.contact-info i {
    margin-right: 10px;
}

.skills-badges span {
    background-color: #12F7D6;
    color: #292F36;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
}

.download-btn {
    display: inline-block;
    background-color: #FFFFFF;
    color: #292F36;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: 'IBM Plex Mono', monospace;
}

.download-btn:hover {
    background-color: #12F7D6;
}

.hero-text {
    margin-top: -20px;
    width: 55%;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: -60px;
}

.hero-text h1 {
    font-size: 64px;
    line-height: 1.2;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
}

.hero-text h1 span {
    color: #12F7D6;
    font-family: 'IBM Plex Mono', monospace;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.8;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: -10px;
}

.contact-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #12F7D6;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-bottom: 80px;
}

.contact-btn img {
    height: 20px; /* Tornar o ícone menor */
    margin-left: 10px; /* Adiciona espaçamento entre o texto e o ícone */
}

.contact-btn:hover {
    background-color: #FFFFFF;
}

/* Estilos para as tags HTML visuais */
.code-tag {
    color: #12F7D6;
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

/* Seção About Me */
.about-section {
    background: url('static/backgrounds/aboutMeBackground.png') no-repeat center center;
    background-size: cover;
    padding: 100px 20px;
    color: #FFFFFF;
}

.about-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-title h2 {
    font-size: 64px;
    color: #12F7D6;
    margin-bottom: 50px;
    font-family: 'IBM Plex Mono', monospace;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.about-text {
    width: 60%;
    background-color: rgba(41, 47, 54, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
    position: relative;
}

.highlight {
    color: #00FFFF;
}

.link {
    text-decoration: none;
    color: #00FFFF;
}

.link:hover {
    text-decoration: underline;
}

.about-image {
    width: 35%;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Seção Skills */
.skills-section {
    background: url('static/backgrounds/skillsBackground.png') no-repeat center center;
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
}

.skills-container h2 {
    font-size: 64px;
    color: #12F7D6;
    font-family: 'IBM Plex Mono', monospace;
}

.skills-subtitle {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 50px;
    font-family: 'IBM Plex Mono', monospace;
}

.skills-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.skill-card {
    background-color: rgba(41, 47, 54, 0.8);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.skill-card img {
    width: 30px;
    height: auto;
    margin-bottom: 20px;
}

.skill-card h3 {
    font-size: 24px;
    color: #12F7D6;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 16px;
    color: #FFFFFF;
}

.skills-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.skill-icon img {
    width: 80px;
    margin-bottom: 10px;
}

.skill-icon h4 {
    font-size: 18px;
    color: #12F7D6;
}

.skills-tag {
    margin-top: 50px;
}

.tag-icon {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

/* Seção Works */
.works-section {
    background: url('static/backgrounds/worksBackground.png') no-repeat center center;
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    color: #FFFFFF;
}

.works-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.works-section h2 {
    font-size: 64px;
    color: #12F7D6;
    margin-bottom: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.works-section p {
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
}

/* Galeria de Trabalhos */
.projects-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

.gallery-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.gallery-item {
    min-width: 250px;
    margin: 0 5px; /* Reduz o espaçamento lateral */
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 300px;
}

.gallery-item img {
    width: 80%;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.view-website {
    display: block;
    background-color: #12F7D6;
    padding: 10px 20px;
    color: #1A1E23;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-align: center;
}

.view-website:hover {
    background-color: #98FAEC;
}

.gallery-prev, .gallery-next {
    background: none;
    border: none;
    color: #12F7D6;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

.gallery-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.gallery-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.gallery-prev:hover, .gallery-next:hover {
    color: #98FAEC;
    transform: scale(1.2);
}

/* Estilos do Carrossel */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.carousel-track-container {
    overflow: hidden;
    width: 100%; /* Alinha o carrossel a 100% da largura disponível */
    max-width: 1000px; /* Garante que não ultrapassa 1000px de largura */
    margin: 0 auto; /* Centraliza o carrossel */
    display: flex; /* Mantém os itens do carrossel em linha */
    justify-content: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center; /* Centraliza verticalmente os itens */
}

.carousel-slide {
    min-width: 300px;
    margin: 0 15px;
    position: relative;
}

.carousel-slide img {
    width: 100%; /* Garante que a imagem ocupa toda a largura do slide */
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* Alinhamento dos botões */
.carousel-button-left,
.carousel-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: transparent; /* Remove o fundo */
    border: none;
}

.carousel-button-left {
    left: -40px; /* Ajuste a posição para garantir que não sobrepõem as imagens */
}

.carousel-button-right {
    right: -40px; /* Ajuste a posição para garantir que não sobrepõem as imagens */
}

.carousel-button-left:hover,
.carousel-button-right:hover {
    color: #98FAEC;
}

.btn-project {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #12F7D6;
    padding: 10px 20px;
    color: #1A1E23;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-project:hover {
    background-color: #98FAEC;
}

/* Seção de Blogs */
.blogs-section {
    padding: 100px 20px;
    text-align: center;
    background-color: #292F36; /* Cor de fundo correta para a seção de blogs */
}

.blogs-container {
    max-width: 1000px;
    margin: 0 auto;
}

.blogs-header h2 {
    font-size: 64px;
    color: #12F7D6;
    font-family: 'IBM Plex Mono', monospace;
}

.blogs-description {
    margin-top: -10px;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
}

/* Estilo para o cartão de blog */
.blog-post-card {
    display: flex;
    background-color: #2D3440;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 40px 0;
    font-family: 'IBM Plex Mono', monospace;
}

.blog-image {
    width: 30%;
    border-radius: 10px;
    margin-right: 20px;
}

.blog-content {
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
}

.blog-title {
    font-size: 24px;
    color: #12F7D6;
    font-family: 'IBM Plex Mono', monospace;
}

.blog-excerpt {
    margin: 15px 0;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
}

.read-more {
    color: #12F7D6;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}

.blog-tags {
    margin-top: 10px;
    font-family: 'IBM Plex Mono', monospace;
}

.blog-tag,
.blog-meta {
    display: inline-block;
    background-color: #43454D;
    padding: 5px 10px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 10px;
}

.blog-divider {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    margin: 20px 0;
}

/* Botões de Blogs */
.blogs-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.view-more-btn,
.subscribe-btn {
    padding: 15px 40px;
    border-radius: 30px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #1A1E23;
    background-color: #12F7D6;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.subscribe-btn {
    background-color: transparent;
    border: 2px solid #12F7D6;
    color: #12F7D6;
}

.subscribe-btn:hover {
    background-color: #12F7D6;
    color: #1A1E23;
}

.view-more-btn:hover {
    background-color: #98FAEC;
}

/* Seção de Contato */
.contact-section {
    padding: 100px 20px;
    text-align: center;
    background-color: #1A1E23; /* Cor de fundo correta para a seção do formulário */
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-title {
    font-size: 64px;
    color: #12F7D6;
    font-family: 'IBM Plex Mono', monospace;
}

.contact-description {
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 30px;
}

.contact-message {
    font-size: 30px;
    color: #12F7D6;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 50px;
}

/* Formulário de Contato */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px; /* Aumentando o espaço entre os campos para evitar overlap */
}

.form-field {
    width: 100%;
}

.full-width {
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    background-color: #1A1E23;
    color: #FFFFFF;
    border: 1px solid #12F7D6;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #98FAEC;
}

.contact-form textarea {
    height: 150px;
}

.submit-btn {
    padding: 15px 40px;
    border-radius: 30px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    color: #1A1E23;
    background-color: #12F7D6;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn i {
    margin-left: 10px;
}

.submit-btn:hover {
    background-color: #98FAEC;
}

/* Estilos do Modal de Sucesso ou Erro */
.popup-modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifica-se que fique sobreposto */
}

.popup-content {
    background-color: #292F36;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popup-content p {
    color: #12F7D6;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.popup-btn {
    background-color: #12F7D6;
    color: #1A1E23;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    margin-top: 20px;
}

.popup-btn:hover {
    background-color: #98FAEC;
}

/* Rodapé */
footer {
    background-color: #292F36;
    padding: 20px;
    text-align: center;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons img {
    height: 30px;
    margin: 0 10px;
}